:root {
	--background: #14161A;
	--foreground: #191C20;
	--text: #fff;
	--page-width: 1000px;
}

body {
	margin: 0;

	background-color: var(--background);
	color: var(--text);
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

.container {
	display: flex;
	position: relative;
	padding: 10px;
	width: 100%;
	max-width: var(--page-width);

	margin: 0 auto;
}