.navbar {
	display: flex;
	background-color: var(--foreground);
	align-items: center;
	height: 56px;
}

.logo {
	
}

.navlinks {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	
	font-size: 14px;
}

.navlink {
	display: block;
	float: left;

	margin: 10px;
	list-style: none;
}

.navlink a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}