.memberList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
}

.memberItem {
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: var(--foreground);
}